* {
    
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.main {

    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;

}

.card {

    padding: 10px;
    margin: 10px;

}

.signup {

    margin: 20px;

}

form {

    width: 50%;
    padding: 20px;
    margin: 20px;

}